<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoolMangoesMonitoringApp">
        <activity
            android:name=".ShowInfo"
            android:exported="false" />
        <activity
            android:name=".ChatsDashboard"
            android:exported="false" />
        <activity
            android:name=".ChangeDetails"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".Containers"
            android:exported="false" />
        <activity
            android:name=".NewGroup"
            android:exported="false" />
        <activity
            android:name=".PostsDashboard"
            android:exported="false" />
        <activity android:name=".Groups" />
        <activity
            android:name=".PostWindo"
            android:exported="false" />
        <activity
            android:name=".chatwindo"
            android:exported="false" />
        <activity
            android:name=".ChatUsers"
            android:exported="false" />
        <activity
            android:name=".HumidityInfo"
            android:exported="false" />
        <activity
            android:name=".TemperatureInfo"
            android:exported="false" />
        <activity
            android:name=".QRscanner"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseClass"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>